<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/header.css">    
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" type="" href="./css/auth.css">
    <link rel="stylesheet" href="./css/createpost.css">    
    <title>Buy House</title>
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
              <a class="navbar-brand" href="/home">
                <img src="https://muaban.net/logo/muaban.svg" alt="logo">
              </a>

            <div class="navbar">
                  <ul class="navbar-nav nav-info-user">
                    <li class="nav-item me-3">
                      <a class="nav-link" href="#">
                        <i class="fa-solid fa-newspaper fs-5"></i>
                        <span>Quản lí tin</span> 
                      </a>
                    </li>
                    <li class="nav-item me-3">
                      <a class="nav-link" href="#">
                        <i class="fa-solid fa-bell fs-5"></i>
                        <span>Thông báo</span> 
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <img src="#" alt="">
                        <span>{name-user}</span>
                      </a>
                    </li>
                  </ul> 
            </div>

            </div>
        </nav>
        

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
              <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNavAltMarkup">
                <div class="navbar-nav position-relative" id="nav__direction" style="font-weight: 700;">
                  <a class="nav-link" href="/">Trang chủ</a>
                  <a class="nav-link" href="/category">Danh sách post</a>
                </div>

                <form class="d-flex position-relative" action="#" method="post">
                    <input class="input__search" type="search" placeholder="Bạn cần tìm gì ?" >
                    <button class="button__search position-absolute b-0" type="submit">
                        <i class="button__search-icon fa-sharp fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>

                <a class="button__post text-center" href="/create-post">
                  <i class="fa-sharp fa-solid fa-pen-to-square"></i> Đăng tin
              </a>
              </div>
            </div>
          </nav>
    </header>

    <div class="container mt-5">
        <form class="form-cutom d-flex flex-column" action="">
            <h3 class="title__create-post">Nhập thông tin đăng bán</h3>
            <div class="form__title d-flex justify-content-between align-items-center mb-4 mt-5">
                <label for="form__input-title">Tiêu đề bài đăng</label>       
                <input class="form__input" type="" name="form__input-title" value="" placeholder="Tiêu đề">       
            </div>

            <div class="form__phone d-flex justify-content-between align-items-center mb-4">
              <label for="form__input-phone">Số điện thoại chủ nhà</label>       
              <input class="form__input form__input-phone" type="number" name="form__input-phone" value="" placeholder="Số điện thoại liên lạc" onkeydown="return event.keyCode !== 69">     
            </div>

            <div class="form__price d-flex justify-content-between align-items-center position-relative mb-4">
              <label for="form__input-price">Giá phòng trọ</label>       
              <input class="form__input form__input-price" type="number" name="form__input-price" value="" placeholder="Số tiền VNĐ" onkeydown="return event.keyCode !== 69">     
            </div>

            <div class="form__address d-flex justify-content-between align-items-center mb-4">
              <label for="form__input-address">Địa chỉ</label>       
              <input class="form__input" type="" name="form__input-address" value="" placeholder="Địa chỉ">       
            </div>

            <div class="form__URL d-flex justify-content-between align-items-center mb-4">
              <label for="form__input-URL">URL img</label>       
              <input class="form__input" type="" name="form__input-URL" value="" placeholder="URL điền vào cách nhau 1 dấu phẩy duy nhất"> 
            </div>

            <div class="form__descriptions d-flex justify-content-between align-items-center mb-4">
              <label for="form__input-description">Mô tả</label>       
              <textarea class="form__input" name="form__input-description" rows="4" cols="50" style="resize:none;" placeholder="Thông tin chi tiết về căn nhà"></textarea>
            </div>

            <div id="googleMap" style="width:100%;height:400px;"></div>
            <input id="lat" name="lat" type="" value="" hidden>
            <input id="lng" name="lng" type="" value="" hidden>
            <div class="d-flex mt-4">
              <input id="check_policy" class="checkbox__policy me-3" type="checkbox" name="" value="" style="width:25px;height:25px">
              <span class="checkbox__policy-text">Tôi đã đọc và đồng ý với <a href="#">quy định</a> của Muaban</span>
            </div>
            <span id="message_policy" class="message messageWrong m-auto mt-1 d-none">Hãy đọc quy định đi !</span>
            <button class="btn__post custom-button mt-5 align-self-center">
              Đăng bài
            </button>
        </form>
    </div>
    
    <footer class="footer mt-5 position-relative">
      <div class="container">
        <div class="row">
          <div class="col-4 d-flex flex-column">
            <img class=" mb-3" src="https://muaban.net/logo/muaban.svg" alt="" style="width:40%;height:40%;">
            <span class="mb-3">CÔNG TY CỔ PHẦN MUA BÁN</span>
            <div class="footer__phone-suporter mb-3">
              <i class="fa-solid fa-phone"></i>
              <span>1900 6868</span>
            </div>
            <div class="footer__location-suporter mb-3">
              <span>
                <b>Trụ sợ chính :</b> Số 28-30 Đường số 2, khu phố Hưng gia 5, phường Tân Phong, Quận 7, TP.Hồ Chí Mibh
              </span>
            </div>
            <div class="footer__email-suporter mb-3">
              <span>
                <b>Email: </b><a href="">duc.tran@codegym.com</a>
              </span>
            </div>
            <div class="footer__info">
              <span>
                muaban.net có trách nhiệm chuyển tải thông tin. Không chịu bất kỳ trách nhiệm nào từ các tin này. <a href="#">Xem chi tiết điều khoản</a>
              </span>              
            </div>
          </div>
          <div class="col-8">
            <div class="row">
              <div class="col">
                <ul class="footer__list">
                  <span class="footer__title">Về chúng tôi</span>
                  <li class="footer__item">
                    <a class="footer__link" href="">Giới thiệu</a>
                  </li>
                  <li class="footer__item">
                    <a class="footer__link" href="">Điều khoản sử dụng</a>
                  </li>
                  <li class="footer__item">
                    <a class="footer__link" href="">Quy chế hoạt động</a>
                  </li>
                  <li class="footer__item">
                    <a class="footer__link" href="">Mua hàng an toàn</a>
                  </li>
                  <li class="footer__item">
                    <a class="footer__link" href="">Liên hệ</a>
                  </li>
                </ul>
              </div>
              <div class="col">
                <ul class="footer__list">
                  <span class="footer__title">Hỗ trợ mua bán</span>
                  <li class="footer__item">
                    <a class="footer__link" href="">Báo giá quảng cáo</a>
                  </li>
                  <li class="footer__item">
                    <a class="footer__link" href="">Gói nạp thành viên</a>
                  </li>
                  <li class="footer__item">
                    <a class="footer__link" href="">Hỗ trợ đăng tin</a>
                  </li>
                  <li class="footer__item">
                    <a class="footer__link" href="">Hướng dẫn thanh toán</a>
                  </li>
                  <li class="footer__item">
                    <a class="footer__link" href="">Câu hỏi thường gặp</a>
                  </li>
                  <li class="footer__item">
                    <a class="footer__link" href="">Tin tức & Khuyến mãi</a>
                  </li>
                </ul>
              </div>
              <div class="col">
                <ul class="footer__list">
                  <span class="footer__title">Thông tin mua bán</span>
                  <li class="footer__item">
                    <a class="footer__link" href="">Cẩm nang Mua bán</a>
                  </li>
                  <li class="footer__item">
                    <a class="footer__link" href="">Môi giới bất động sản</a>
                  </li>
                  <li class="footer__item">
                    <a class="footer__link" href="">Giá nhà đất</a>
                  </li>
                </ul>
            </div>
              

            <div class="row mt-5" style="border-top:1px solid #ccc">
              <div class="col">
                <ul class="connection__list d-flex justify-content-between align-items-center mt-4">
                  <li class="connection__list-item">
                    <img src="https://muaban.net/images/footer/image-qr.png" alt="">
                  </li>

                  <li class="connection__list-item d-flex flex-column">
                    <a class="mb-2" href="#">
                      <img src="https://muaban.net/images/footer/app-store.png" alt="">
                    </a>
                    <a href="#">
                      <img src="https://muaban.net/images/footer/google-play.png" alt="">
                    </a>
                  </li>


                  <li class="connection__list-item d-flex flex-column">
                    <div class="connection__list-wrap mb-3">
                      <a class="me-3 ms-1" href="#">
                        <img src="https://muaban.net/images/icon/48/social/fb/fill.svg" alt="">
                      </a>
                      <a class="me-3 ms-1" href="#">
                        <img src="https://muaban.net/images/icon/48/social/zalo/fill.png" alt="">
                      </a>
                      <a class="me-3 ms-1" href="#">
                        <img src="https://muaban.net/images/icon/48/social/youtube/fill.svg" alt="">
                      </a>
                    </div>
                    
                    <div class="connection__list-wrap">
                      <a href="#">
                        <img src="https://images.dmca.com/Badges/dmca_protected_sml_120m.png?ID=123e32a1-48c0-4151-aa3b-3e80b4d96192" alt="">
                      </a>
                    </div>
                  </li>

                  <li class="connection__list-item">
                    <a href="">
                      <img src="https://muaban.net/images/footer/Layer41.png" alt="">
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/87b31eb80c.js" crossorigin="anonymous"></script>
    <script>
      const inputLat = document.getElementById('lat');
      const inputLng = document.getElementById('lng');
      const policy = document.querySelector("#check_policy");
      const btnPost = document.querySelector(".btn__post");
      const messagePolicy = document.querySelector("#message_policy");
      function myMap() {
          const mapProp= {
          center:new google.maps.LatLng(10.771783,106.586605),
          zoom:13,
        };
        const map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
        
        let prevMarker;
        google.maps.event.addListener(map,'click',(event)=>{
          addMarker(event.latLng);
        })
        
        function addMarker(coords) {
          let marker = new google.maps.Marker({
            draggable: true,
            animation: google.maps.Animation.BOUNCE,
            position: coords,
            map:map,
        })
        if(prevMarker != undefined){
          prevMarker.setMap(null);
        }
          prevMarker = marker
          inputLat.value = coords.lat();
          inputLng.value = coords.lng();
          console.log("vĩ độ:"+ coords.lat(),"kinh độ:"+coords.lng())
          setTimeout(() => {
            marker.setAnimation(null)
          }, 2000);
        }
      }

      btnPost.addEventListener('click',e=>{
        if (!policy.checked) {
           messagePolicy.classList.remove("d-none");
           e.preventDefault();
        }
      })

      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPndaft2HpRlI9HeuB_0b-fsO3zaxV1Ok&callback=myMap"></script>
</body>
</html>