.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link {
    color: var(--text-color);
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: var(--primary-color);
}

.input__search{
    width: 30rem;
    padding: 10px 10px 10px 20px;
    border-radius:40px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: transparent;
}

.input__search:focus{
    outline: 1px solid var(--primary-color-light);
}



.button__search {
    width: 3rem;
    padding: 5px 10px 5px 10px;
    border-radius: 50%;
    right: 2%;
    top: 14%;
    border: transparent;
    background-color: #fff;
}

.input__search:focus .button__search{
    border: 1px solid var(--primary-color-light);
}

.button__search-icon:hover{
    color:var(--primary-color)
}

.header{
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.button__post{
    padding:10px;
    width:11rem;
    border-radius:50px;
    position: relative;
    left:-8%;
    background-color:var(--primary-color);
    color: #fff;
    border: transparent;
}

.button__post:hover{
    background-color:var(--primary-color-light);
}



.img__user{
    border-radius: 50%;
    width:20px; 
    height:20px;
    transform:translateY(-5px);
}

#nav__direction::after{
    content: "";
    height: 60%;
    width: 1px;
    top: 20%;
    left: 41%;
    background-color: var(--gray-light);
    position: absolute;
}