.side__bar-post{
    width: 80%;
    left: 0;
}

.side__bar-item{
    cursor: pointer;
}

.side__bar-item:hover{
    background-color:var(--primary-color-hover);
}

.side__bar-text{
    margin-left: 0px;
    transition: all 0.5s linear;
}

.side__bar-link{
    color: var(--text-color);
}

.side__bar-link:hover{
    color: var(--text-color);
}

.side__bar-item:hover .side__bar-text{
    margin-left:15px;
}

.active{
    background-color:var(--primary-color-hover);
    color:var(--primary-color);
    font-weight: bold;
}

.custom-input{
    width:70%;
    padding: 5px 5px 5px 13px;
    background-color: var(--gray-lighter);
    border: 1px solid var( --border-gray);
}

.custom-input:focus{
    outline:1px solid var(--blue-lighter)
}

.form__individual{
    margin-bottom:20px;
}


.btn__update{
    width: 80%;
    left: 0;
}

.noitice__title{
    color: #333;
    width: 70%;
}

.noitice__link{
    padding:20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #fff;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.noitice__price{
    font-weight: bold;
    color: var(--primary-color);
    bottom: 0;
}

.noitice__status{
    color:var( --gray-light);
}

.noitice__link:hover{
    background-color: var(--primary-color-hover);
}
