.post__price{
    color:var(--primary-color);
}

.btn__toggle-numberphone{
    padding:7px 10px;
    border-radius:20px;
    background-color:#fff;
    border:2px solid #0f79d5;
    font-weight:bold;
    color: #0f79d5;
}

.btn__toggle-numberphone:hover{
    background-color:#d3eef7;
}

.wrap-img::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    right: 0;
    background-color: #eeeff1;
}


.wrap-img::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    left: 0;
    background-color: #eeeff1;
}

.info__host{
    padding:20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.button__info{
    padding:20px;
    border-radius: 30px;
    border: transparent;
    background-color: #0f79d5;
    color: #fff;
    font-weight: bold;
    transition: all 0.3 linear;
}

.button__info:hover{
    background-color: #ecf6fe;
    color: #0f79d5;
}

/* slider */

.post__slider{
    opacity: 0;
    inset:0;
    left:20%;
    right:20%;
    transition: all 0.5s ease-in-out;
}

.post__slider > img{
    object-fit: contain;
}

.post__slider[data-active]{
    opacity: 1;
}

.post__btn-slider{
    top:50%;
    transform: translateY(-50%);
    border-radius:50%;
    padding:10px;
    border:transparent;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.post__btn-slider:hover{
    transform: scale(1.5);
    background-color: #fff;
    border:1px solid var(--primary-color-hover);
}

.post__btn-slider.prev{
    left:1rem;
}

.post__btn-slider.next{
    right:1rem;
}
