.post__price{
    color:var(--primary-color);
}

.btn__toggle-numberphone{
    padding:7px 10px;
    border-radius:20px;
    background-color:#fff;
    border:2px solid #0f79d5;
    font-weight:bold;
    color: #0f79d5;
}

.btn__toggle-numberphone:hover{
    background-color:#d3eef7;
}

.wrap-img::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    right: 0;
    background-color: #eeeff1;
}


.wrap-img::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    left: 0;
    background-color: #eeeff1;
}

.info__host{
    padding:20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.button__info{
    padding:20px;
    border-radius: 30px;
    border: transparent;
    background-color: #0f79d5;
    color: #fff;
    font-weight: bold;
    transition: all 0.3 linear;
}

.button__info:hover{
    background-color: #ecf6fe;
    color: #0f79d5;
}

/* slider */

.post__slider{
    opacity: 0;
    inset:0;
    left:20%;
    right:20%;
    transition: all 0.5s ease-in-out;
}

.post__slider > img{
    object-fit: contain;
}

.post__slider[data-active]{
    opacity: 1;
}

.post__btn-slider{
    top:50%;
    transform: translateY(-50%);
    border-radius:50%;
    padding:10px;
    border:transparent;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.post__btn-slider:hover{
    transform: scale(1.5);
    background-color: #fff;
    border:1px solid var(--primary-color-hover);
}

.post__btn-slider.prev{
    left:1rem;
}

.post__btn-slider.next{
    right:1rem;
}

.status__house{
    color: var(--gray-light);
}

.emotion__heart{
    border: 2px solid #eae2e1;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
    border-right: transparent;
    color: var(--gray-light)
}

.emotion__comment{
    position: relative;
    border: 2px solid #eae2e1;
    border-radius: 0px 10px 10px 0;
    cursor: pointer;
    border-left:transparent;
    font-weight: bold;
    color: var(--gray-light)
}

.emotion__comment::before{
    content: "";
    height:100%;
    width:1px;
    background-color:var(--gray-light);
    position: absolute;
    top:0;
    left:0;
}

.wrap__emotion-heart{
    font-weight: bold;
}

.wrap__emotion-heart.active{
    color: #EF4B4B;
}

.wrap__emotion-heart.active .emotion__heart{
    background-color: #EF4B4B;
}

.heart,.comment{
    transform: translateY(0);
    transition: transform .4s linear;
}


.emotion__heart:hover .heart{
    transform: translateY(-30%);
    position: relative;
}

.emotion__comment:hover .comment{
    transform: translateY(-30%);
    position: relative;
}

.list__comments-info,.list__comments-user{
    padding:10px;
    border-radius: 20px;
    background-color: #f0f2f5;
}

.list__comments-user{
    flex-basis: 100%;
}

.input__comment{
    width: 100%;
    border:transparent;
    height: 50%;
    outline: transparent;
    background-color:#f0f2f5;
    resize: none;
    /* font-size:1.2rem; */
}

.btn__comment{
    left:-60px;
    background-color:transparent;
    border:transparent;
}

.list__comments-name{
    font-weight: bold;
}

.date__time-comment{
    margin-left:9%;
}

.btn__delete-comment{
    margin-left:10px;
    background-color:transparent;
    border:transparent;
}



